// Colors defined by https://material.io/guidelines/style/color.html#color-color-palette
$color-primary: #03a9f4;
$color-primary-light-2: #4fc3f7;
$color-primary-light-4: #b3e5fc;

$color-error-red: #dd2c00;
