{
  "plugins": ["lodash"],
  "extends": ["airbnb/base", "plugin:lodash/recommended"],
  "env": {
      "browser": true,
      "node": true
  },
  "rules": {
    "func-names": ["error", "never"],
  }
}
